<h2>Welcome, <%= @current_user.name %>!</h2>
<a href="/logout">Log Out</a>
<a href="/predictions">MAKE PREDICTIONS</a>
<a href=<%= "/results/#{@current_user.id}" %>>SEE RESULTS</a>
<p>Table of Prophets (your place: <%= @current_users_place %>)</p>
<table>
  <tr>
  	<th>Place</th>
  	<th>Prophet's name</th>
    <th>Points</th>
  </tr>
  <% @all_predictors.each_with_index do |user, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><a href=<%= "/results/#{user.id}" %>><%= user.name %></a></td>
      <td><%= user.prediction_points %></td>
    </tr>
  <% end %>
  <tr>
  	<td><%= @all_predictors.size + 1 %></td>
  	<td>Other users</td>
  	<td>0</td>
  </tr>
</table>  