<div class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href='/'>
        <span class="glyphicon glyphicon-eye-open"> 
        The Predictorium [
          <span class="glyphicon glyphicon-user"> 
          <%= "#{@current_user.name}" %>
        ]
      </a>
      
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="glyphicon glyphicon-align-justify">
      </button>
    </div>
    <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
      <li>
        <a href="/predictions">
          <span class="glyphicon glyphicon-pencil"> 
          Predictions
        </a>
      </li>  
      <li>
        <a href=<%= "/results/#{@current_user.id}" %>>
          <span class="glyphicon glyphicon-search"> 
          Results
        </a>
      </li>
      <li>
        <a href="/logout">
          <span class="glyphicon glyphicon-log-out"> 
          Log Out
        </a>
      </li>
    </ul>  
  </div>
</div>

<div class="container">
  <div class="alert alert-info lead text-center">
    Upcoming Fixtures
  </div>  

  <form action="/predictions" method="POST">
    <!-- Tabs -->
    <ul class="nav nav-tabs">
      <% supported_leagues.each_with_index do |league, i| %>
        <% if i == 0 then %>
          <li class="active">
        <% else %>
          <li>
        <% end %>
          <a data-toggle="tab" href=<%= "#league#{league.id}" %>>
            <%= league.caption %>
          </a>
        </li>
      <% end %>  
    </ul>
  
    <!-- Content for the Tabs -->
    <div class="tab-content">
      <% supported_leagues.each_with_index do |league, i| %>
        <% if i == 0 then %>
          <div class="tab-pane fade in active" id=<%= "league#{league.id}" %>>
        <% else %>
          <div class="tab-pane fade" id=<%= "league#{league.id}" %>>
        <% end %>  
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <% @fixtures_to_predict.select{ |f| f["league_id"] == league.id }.each do |f| %>
                <tr>
                  <td><%= f["date"].slice(0, 10) %></td>
                  <td><%= f["home_team"] %></td>
                  <td><%= f["away_team"] %></td>
                  <td><input class="form-control" type="number" name=<%= "predictions[][home]" %> value=<%= "#{f['home_team_goals']}" %>></td>
                  <td><input class="form-control" type="number" name=<%= "predictions[][away]" %> value=<%= "#{f['away_team_goals']}" %>></td>
                  <td class="hidden"><input type="hidden" name=<%= "predictions[][id]" %> value=<%= f['id'] %>>
                </tr>  
              <% end %>
            </table>
          </div>
        </div>
      <% end %>
    </div>
    <input class="btn btn-success" type="submit" value="Save Predictions">
  </form>
</div>