<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-right">
      <p>You are signed in as: <b><%= @current_user.name %></b>. <a href="/logout">Log Out</a></p>
    </div>  
  </div>  
  <div class="row">
    <div class="col-xs-2">
      <p>
        <a href="/index">
          <span class="glyphicon glyphicon-align-justify"> 
          MAIN PAGE
        </a>
      </p>
      <p>
        <a href=<%= "/results/#{@current_user.id}" %>>
          <span class="glyphicon glyphicon-search">           
          SEE RESULTS
        </a>
      </p>
    </div>
    <div class="col-xs-10">    
      <form action="/predictions" method="POST">
        <h3>Matches to predict</h3>
        <table>
          <% @fixtures_to_predict.each do |f| %>
            <tr>
              <td><%= f["date"].slice(0, 10) %></td>
              <td><%= f["home_team"] %></td>
              <td><%= f["away_team"] %></td>
              <td><input type="number" name=<%= "predictions[][home]" %> value=<%= "#{f['home_team_goals']}" %>></td>
              <td><input type="number" name=<%= "predictions[][away]" %> value=<%= "#{f['away_team_goals']}" %>></td>
              <td><input type="hidden" name=<%= "predictions[][id]" %> value=<%= f['id'] %>>
            </tr>  
          <% end %>
        </table>
        <input type="submit" value="Save Predictions">
      </form>
    </div>
  </div>    
</div>