<p>You are logged in as: <b><%= @current_user.name %></b>. <a href="/logout">Log Out</a></p>
<a href="/index">MAIN PAGE</a>
<a href="/predictions">MAKE PREDICTIONS</a>
<form action="/results" method="POST">
  <p>Show results for last <input type="number" name="days" value="7"> days</p>
  <p>League: 
  	<select name="league_id">
  	  <option value="-1">All</option>	
      <% supported_leagues.each do |league| %>
        <option value=<%= league.id %>><%= league.caption %></option>
      <% end %>
  	</select>
  </p>
  <p>User: <input type="text" name="username" value= <%= "#{@selected_user.name}" %>></p> 
  <input type="submit" value="Apply Filters">
</form>
<table>
  <tr>
  	<th>Date</th>
  	<th>Home Team</th>
  	<th>Away Team</th>
  	<th>Score</th>
  	<th>Pred.</th>
  	<th>Result</th>
  </tr>
  <% TableHelper.results_with_filters({days: params[:days], league_id: params[:league_id], username: params[:username]}).each do |res| %>
    <tr style=<%= "background-color:#{res.color}" %>>
      <td><%= res.date %></td>
      <td><%= res.home_team %></td>
      <td><%= res.away_team %></td>
      <td><%= res.score %></td>
      <td><%= res.prediction %></td>
      <td><%= res.result %></td>
    </tr>
  <% end %>
</table>